footer.footer
	.footer__links
		ul.footer-navbar
			li.footer-navbar__item
				a(href="index.html").footer-navbar__link home
			li.footer-navbar__item
				a(href="gallery.html").footer-navbar__link gallery
			li.footer-navbar__item
				a(href="booking.html").footer-navbar__link booking
			li.footer-navbar__item
				a(href="activities.html").footer-navbar__link activities
			li.footer-navbar__item
				a(href="info.html").footer-navbar__link info
	
	.footer__social
		i(aria-hidden="true").fa.fa-facebook-square.social
		i(aria-hidden="true").fa.fa-twitter-square.social
		i(aria-hidden="true").fa.fa-github-square.social--last
	
	.footer__copyright Lorem Hostel © 2017 | All Rights Reserved | Designed by 
		a(href="http://krokben.se", target="__blank").footer__link krokben.se
	
	.footer__info
		| Address: Ipsumgatan 32, Stockholm, Sweden | 
		| Phone: +46 33 321 12 40 | Email: lorem@ipsum.com