include header

.container-fluid
	.row.gallery
		.gallery__item
			img(src="assets/images/gallery-sm/01.jpeg").gallery__img
		.gallery__item
			img(src="assets/images/gallery-sm/02.jpeg").gallery__img
		.gallery__item
			img(src="assets/images/gallery-sm/03.jpeg").gallery__img
		.gallery__item
			img(src="assets/images/gallery-sm/04.jpeg").gallery__img
		.gallery__item
			img(src="assets/images/gallery-sm/05.jpeg").gallery__img
		.gallery__item
			img(src="assets/images/gallery-sm/06.jpeg").gallery__img
		.gallery__item
			img(src="assets/images/gallery-sm/07.jpeg").gallery__img
		.gallery__item
			img(src="assets/images/gallery-sm/08.jpeg").gallery__img
		.gallery__item
			img(src="assets/images/gallery-sm/01.jpeg").gallery__img
		.gallery__item
			img(src="assets/images/gallery-sm/02.jpeg").gallery__img
		.gallery__item
			img(src="assets/images/gallery-sm/03.jpeg").gallery__img
		.gallery__item
			img(src="assets/images/gallery-sm/04.jpeg").gallery__img
		.gallery__item
			img(src="assets/images/gallery-sm/05.jpeg").gallery__img
		.gallery__item
			img(src="assets/images/gallery-sm/06.jpeg").gallery__img
		.gallery__item
			img(src="assets/images/gallery-sm/07.jpeg").gallery__img
		.gallery__item
			img(src="assets/images/gallery-sm/08.jpeg").gallery__img

.lightbox
	.container
		.row
			.col-sm-1
			.col-sm-10.lightbox__outer-container
				.lightbox__container
					.lightbox__exit
						i(aria-hidden="true").fa.fa-times
					.lightbox__img-container
			.col-sm-1

script(src="assets/scripts/gallery.js")
include footer