html
	head
		title Lorem Hostel
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barrio|Dosis")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
		link(rel="stylesheet", href="css/app.css")
	body
		header.container-fluid.header.header--banner
			i(aria-hidden="true").fa.fa-bars.header__trigram
			.row
				.col-sm-5
					a(href="index.html")
						h2 Lorem Hostel
				ul.navbar.navbar--expanded
					li.navbar__item.navbar__item--expanded
						a(href="javascript:delay('index.html', 1300)").navbar__link.navbar__link--expanded home
					li.navbar__item.navbar__item--expanded
						a(href="javascript:delay('gallery.html', 1300)").navbar__link.navbar__link--expanded gallery
					li.navbar__item.navbar__item--expanded
						a(href="javascript:delay('booking.html', 1300)").navbar__link.navbar__link--expanded booking
					li.navbar__item.navbar__item--expanded
						a(href="javascript:delay('activities.html', 1300)").navbar__link.navbar__link--expanded activities
					li.navbar__item.navbar__item--expanded
						a(href="javascript:delay('info.html', 1300)").navbar__link.navbar__link--expanded info