.header
	position: relative
	margin-bottom: 6vw
	height: 100px
	z-index: 1

	+m('banner-hidden')
		animation: hideBanner 1.5s forwards

	+m('banner')
		animation: showBanner 1s forwards
		background-color: #fff
		box-shadow: 0 1px 4px 0 #ccc
		margin-bottom: 15px

	+m('expand')
		animation: expandHeader 1s forwards

	+m('shrink')
		animation: shrinkHeader 1s forwards

	+m('hide')
		animation: hideBanner 4s forwards

	+e('logo')
		font-size: 1.7em

	+e('logo-link')

	+e('trigram')
		color: #ccc
		cursor: pointer
		font-size: 2em
		position: absolute
		top: 27
		right: 20
		z-index: 1

		+m('front')
			visibility: visible
			color: #666
			cursor: pointer
			top: 15

		&:hover
			color: #000
			transition: color 1s

+k('hideBanner')
	0%
		margin-top: 0
	100%
		margin-top: -2000px

+k('showBanner')
	0%
		margin-top: -100
	100%
		margin-top: 0

+k('expandHeader')
	0%
		height: 100px
	100%
		height: 450px

+k('shrinkHeader')
	0%
		height: 450px
	100%
		height: 100px

@media screen and (min-width: 768px)
	.header
		+e('trigram')
			+m('front')
				visibility: hidden

@media screen and (min-width: 992px)
	.header
		+e('logo')
			font-size: 2em